{:paths ["src" "resources"]
 :deps  {aysylu/loom                 {:mvn/version "1.0.2"}
         metosin/malli               {:mvn/version "0.14.0"}
         org.clojure/clojure         {:mvn/version "1.10.3"}
         org.clojure/tools.namespace {:mvn/version "1.3.0"}
         party.donut/compose         {:mvn/version "0.0.30"}
         party.donut/error           {:mvn/version "0.0.18"}}

 :aliases
 {:dev
  {:extra-deps  {djblue/portal     {:mvn/version "0.35.1"}
                 party.donut/error {:local/root "../error"}
                 ring/ring         {:mvn/version "1.9.4"}}
   :extra-paths ["dev" "test"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.0" :git/sha "48c3c67"}}
   :exec-fn     cognitect.test-runner.api/test}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check  {:mvn/version "0.9.0"}
                 olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :exec-fn     cljs-test-runner.main/-main}

  :build
  {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                slipset/deps-deploy           {:mvn/version "0.2.1"}}
   :ns-default build}}}
